html,
body {
  display: block;
  width: 100%;
  height: 100%;
}

html {
  min-height: 100%;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1b1b1b;
}

html * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #0069b4;
  font: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.6;
}

i {
  color: inherit;
}

.state > i {
  border-radius: 12px;
  height: 24px;
  width: 24px;
  color: white;
}

.fa-clock-o {
  background: #444444;
}

.fa-check {
  background: #7ed321;
}

.fa-exclamation-triangle {
  background: #ff6600;
}

.fa-info-circle,
.fa-info {
  background: #444444;
}

.fa-calendar {
  background: #444444;
}

.well > i {
  background: none;
  color: gray;
}

#page {
  min-width: 320px;
  height: 100%;
  width: 100%;
}

header,
main,
footer {
  width: 100%;
}

/* Header styles */

header {
  border-bottom: 1px solid #ddd;
}

header .content > div {
  padding-bottom: 1em;
}

/* END Header styles */

/* Main Styles */

main .content {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* END Main Styles */

/* Post Styles */

.posts {
  display: table;
  max-width: 40em;
  margin: 0 auto;
}

.post {
  border-bottom: 1px solid #ddd;
  padding: 0.5em 0;
  padding-left: 36px;
  position: relative;
}

.post:last-child {
  border-bottom: none;
}

.post > .state {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1.75em;
  left: 0.25em;
}

.post > .state > i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* END Post Styles */

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2em;
}

/* Footer styles */

footer {
  background: #0069b4;
  padding: 2em;
}

footer * {
  color: #eee;
}

footer > .content {
  padding: 1em 0;
}

footer > .content > p {
  font-size: 0.857em;
}

/* END Footer styles */

/* -- */

table {
  vertical-align: top;
  color: #555;
}

th {
  display: none;
  font: inherit;
  color: inherit;
  vertical-align: top;
}

td {
  font-size: 0.857em;
  vertical-align: top;
}

p {
  text-align: left;
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

.posts h1,
.posts h2,
.posts h3,
.posts h4,
.posts h5,
.posts h6 {
  margin-bottom: 0;
}

#containerheader {
  margin: auto;
}

#containerbody {
  margin: auto;
}

.logo {
  height: 75px;
  width: auto;
}

.logo a {
  display: inline-block;
}

.boxsocial {
  text-align: right;
}

.boxsocial a {
  display: inline-block;
  margin-top: 10px;
  margin-left: 1em;
  font-size: 0.857em;
}

.boxheader {
  clear: left;
  text-align: left;
  padding-top: 10px;
  width: 100%;
}

.boxdatetime {
  font-size: 0.857em;
  color: #9b9b9b;
}

.boxdatetime span {
  font: inherit;
  font-size: 1em;
  color: inherit;
  display: inline-block;
  margin-right: 0.5em;
}

.boxdatetime span:last-child {
  margin-right: 0;
}

h3.boxtitle {
  font-weight: bold;
  padding: 0.25em 0;
  max-width: 100%;
}

.boxcontent {
  color: #9b9b9b;
}

.boxcontent tbody td:first-of-type {
  font-weight: bold;
}

.boxcontent tbody td:first-of-type {
  padding-right: 0.5rem;
}

/* Utils */

.post:after,
.content:after,
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.rfloat {
  display: block;
  float: right;
}

.lfloat {
  display: block;
  float: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 0.857em;
}

/* END Utils */

.well {
  background: #f5f5f5;
  position: relative;
  padding: 0.5em;
  padding-left: 3.5em;
  border-radius: 0.33rem;
}

#section-info .well {
  margin-bottom: 2em;
}

#section-info .well > i.fa,
.well > i.fa  {
  display: block;
  position: absolute;
  left: 0.5em;
  top: 0.5rem;
  color: gray;
}

@media (max-width: 767px) {
  .boxsocial,
  .boxlogo {
    text-align: center;
  }

  .logo {
    margin-top: 15px;
  }

  main .content {
    padding-left: 1em;
    padding-right: 1em;
  }

  .boxcontent tbody td {
    display: block;
  }

  .boxcontent tbody td:last-of-type {
    margin-bottom: 0.5rem;
  }
}
