<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/css/main.css"
    />
    <link
      rel="icon"
      href="{{ site.baseurl }}/favicon_animated.gif"
      sizes="32x32"
    />
  </head>
  <body>
    <div id="page">
      <header role="banner">
        <div class="content">
          <div class="boxsocial">
            <a href="https://www.tmt.de" target="_blank">Website</a>
            <a href="https://www.tmt.de/unternehmen/aktuelles/" target="_blank"
              >Aktuelles</a
            >
            <a href="https://www.facebook.com/TMTde" target="_blank"
              ><i class="fa fa-fw fa-facebook"></i
            ></a>
            <a href="https://twitter.com/tmtde" target="_blank"
              ><i class="fa fa-fw fa-twitter"></i
            ></a>
            <a href="{{ site.baseurl }}/atom.xml" target="_blank"
              ><i class="fa fa-fw fa-rss"></i
            ></a>
          </div>
          <div class="boxlogo">
            <a href="{{ site.baseurl | prepend: site.url }}/"
              ><img src="{{ site.baseurl }}/tmt-logo.svg" alt="TMT" class="logo"
            /></a>
          </div>
        </div>
      </header>
      <main>
        <section>
          <div class="content">
            {{ content }}
          </div>
        </section>
      </main>
      <footer>
        <div class="content">
          <p class="text-center">
            © TMT GmbH & Co. KG ❘ Phone: +49 921 507200-0 ❘ Fax: +49 921
            507200-299 ❘ Email: net(at)tmt.de |
            <a href="{{ site.baseurl | prepend: site.url }}/impressum/"
              >Impressum</a
            >
            |
            <a href="{{ site.baseurl | prepend: site.url }}/datenschutz/"
              >Datenschutz</a
            >
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
